$header_height: 34px;
$toolbar_height: 40px;
$formula_height: 24px;
$row_height: 24px;
$db_header-height: 64px;
$info_cell_width: 40px;
$cell_width: 120px;
$primary-color: #3c74ff;
$border_color: #c0c0c0;
