@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import '~normalize.css';

@import './variables';
@import './mixins';

@import './components/header.scss';
@import './components/toolbar.scss';
@import './components/formula.scss';
@import './components/table.scss';
@import './components/dashboard.scss';

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

body {
   font-family: 'Poppins', sans-serif;
   font-size: 12px;
}

.excel {
   position: relative;
   color: #888;
   height: 100%;
   max-width: 100%;
}
