.db {
   &__header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: $db-header-height;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
      font-size: 18px;
   }

   &__new {
      margin-top: $db-header-height;
      padding: 1.5rem;
      background-color: #dadce0;
   }

   &__create {
      width: 160px;
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      text-decoration: none;
      color: #000;
      font-size: 18px;
      text-align: center;
      background-color: #fff;
      transition: all 0.2s ease-in-out;

      &:hover {
         color: #257a37;
         box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
      }
   }

   &__view {
      max-width: 1000px;
      margin: 0 auto;
   }

   &__table {
      padding: 1rem;
   }

   &__list-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      padding: 0px 12px;
      font-size: 16px;
      font-weight: 600;
      color: #2e2e2e;
   }

   &__list {
      @include clear-list();
   }

   &__record {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 12px;
      margin-bottom: 10px;
      border-bottom: 1px solid #dadce0;
      transition: all 0.1s ease-in-out;

      &:hover {
         border-radius: 10px;
         background-color: #dadce0;
      }

      & a {
         color: #2e2e2e;
         font-size: 14px;
         font-weight: 400;
         text-decoration: none;

         &:hover {
            text-decoration: underline;
         }
      }

      & strong {
         font-weight: 500;
      }
   }
}
